<div
  class="bg-gradient-to-br from-[var(--primary-color)] to-[var(--accent2-color)]
         rounded-2xl p-8 shadow-xl hover:shadow-2xl transition-all transform
         hover:-translate-y-2 text-white relative overflow-hidden h-56">

  <div class="absolute -bottom-18 right-0 w-32 h-35 bg-white opacity-10 rounded-full -mr-16 -mt-16"></div>

  <div class="flex items-start justify-between gap-3 mb-4">
    <h3 class="font-[var(--font-family-heading)] text-2xl font-bold">
      {{ translateCity(relation.destination, locale) }}
    </h3>

    <div class="min-h-6">
      @if (relation.isInternational) {
        <div
          class="inline-block bg-[var(--accent-color)] px-3 py-1 rounded-full text-xs font-bold"
          i18n="@@internationalLineBadge">
          МЕЃУНАРОДНА ЛИНИЈА
        </div>
      }
    </div>
  </div>

  <p class="mb-4 text-white text-opacity-90 line-clamp-3">
    {{ translateCityInfo(relation.info, locale) }}
  </p>
</div>
